
@{
    ViewBag.Title = "En construcción";
}
<h2>En Construcción</h2>
<p>Este sitio web aun está en construcción, si ves esto quiere decir que la página a la que intentas acceder aún no está activa</p>
<p>Lamentamos la molestia que esto pueda ocasionarte :(</p>

