@*
    HACK para cambiar globalmente la versión de Acerca de Nosotros modificarlo aqui
    Se recomienda no exceder de 1 parrafo con 240 caracteres para no romper con el
    esquema del documento.
*@
<p>
Congo Mate surge debido a que muchas de las personas ahora consumen café en
distintas horas, en distintos climas, pero suelen solo conocer un tipo
de café y no se tienen el suficiente conocimiento sobre este tipo de café.
</p>